@page "/Personas"
@using RegistroPerson.BLL
@using RegistroPerson.Models






<h1>Registro</h1>

<EditForm Model="persona" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="Id">ID:</label>
    <div class="input-group">
        <InputNumber @bind-Value="persona.personaId" class="form-control"></InputNumber>
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" @onclick="Buscar">Buscar</button>
        </div>
    </div>

    <p class="nombre">
        Nombre: <InputText @bind-Value="persona.nombre" class="form-control"></InputText>

    </p>

    <p class="telefono">
        Telefono: <InputText @bind-Value="persona.telefono" class="form-control"></InputText>
    </p>

    <p class="cedula">
        Cedula: <InputText @bind-Value="persona.cedula" class="form-control"></InputText>
    </p>

    <p class="direccion">
        Direccion: <InputText @bind-Value="persona.direccion" class="form-control"></InputText>
    </p>

    <p class="fecha">
        Fecha Nacimiento: <InputDate @bind-Value="persona.fecha" class="form-control"></InputDate>
    </p>

    <div class="form-group">
        <button type="button" class="btn btn-outline-secondary" @onclick="Nuevo">NUEVO</button>
        <button type="button" class="btn btn-outline-success" @onclick="Guardar">Guardar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">ELIMINAR</button>
    </div>

</EditForm>

@code {
    private Personas persona = new Personas();

    [Parameter]
    public int PersonaId { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
        persona.fecha = DateTime.Now;
        Buscar();
    }

    private void Nuevo()
    {
        this.persona = new Personas();
    }

    private void Guardar()
    {
        bool guardado;

        guardado = PersonasBLL.Guardar(persona);

        if (guardado)
        {
            Nuevo();
            //toast.ShowSuccess("Guardado correctamente");
        }
      //  else
           // toast.ShowError("No fue posible guardar");

    }

    private void Buscar()
    {

        if (persona.personaId > 0)
        {
            var encontrado = PersonasBLL.Buscar(persona.personaId);
            if (encontrado != null)
                persona = encontrado;
          //  else
               // toast.ShowWarning("La persona no fue encontrado");
        }
    }

    private void Eliminar()
    {
        bool elimino;

        elimino = PersonasBLL.Eliminar(persona.personaId);

        if (elimino)
        {
            Nuevo();
           // toast.ShowSuccess("Persona eliminada correctamente");
        }
       // else
           // toast.ShowError("No fue posible eliminarla persona");
    }
}
