@page "/Personas"
@using RegistroPerson.BLL
@using RegistroPerson.Models




<h1>Registro</h1>

<EditForm Model="personas" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="Id">ID:</label>
    <div class="input-group">
        <InputNumber @bind-Value="personas.personaId" class="form-control"></InputNumber>
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" @onclick="Buscar">Buscar</button>
        </div>
    </div>

    <p class="nombre">
        Nombre: <InputText @bind-Value="personas.nombre" class="form-control"></InputText>

    </p>

    <p class="telefono">
        Telefono: <InputText @bind-Value="personas.telefono" class="form-control"></InputText>
    </p>

    <p class="cedula">
        Cedula: <InputText @bind-Value="personas.cedula" class="form-control"></InputText>
    </p>

    <p class="direccion">
        Direccion: <InputText @bind-Value="personas.direccion" class="form-control"></InputText>
    </p>

    <p class="fecha">
        Fecha Nacimiento: <InputDate @bind-Value="personas.fecha" class="form-control"></InputDate>
    </p>

    <div class="form-group">
        <button type="button" class="btn btn-outline-secondary" @onclick="Nuevo">NUEVO</button>
        <button type="button" class="btn btn-outline-success" @onclick="Guardar">Guardar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">ELIMINAR</button>
    </div>

</EditForm>

@code {
    Personas personas = new Personas();

    

    private void Nuevo()
    {
        this.personas = new Personas();
    }

    private void Guardar()
    {
        

    }

    private void Buscar()
    {
       

    }

    private void Eliminar()
    {

    }
}